# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame

#Reading the csv into the file as a dataframe
applicant_data_df = pd.read_csv(
    Path('./Resources/applicants_data.csv')
)

# Review the DataFrame

#Displaying the new dataframe
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns

#Reviewing the data types
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame

#Dropping the columns
applicant_data_df = applicant_data_df.drop(["EIN","NAME"],axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 

#Isolating the categorical variables
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list"

#Checking the categorical variables
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder

#Encoding the variables
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables

#Creating a dataframe from the encoded data
encoded_df = pd.DataFrame(encoded_data,columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

#Adding in the numerical variables
encoded_df = pd.concat([applicant_data_df.drop(columns = categorical_variables),encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column

#Defining the y feature
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL

#Defining the X Feature
X = encoded_df.drop(["IS_SUCCESSFUL"],axis=1)

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

#Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance

#Scaling the data
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = "relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation = "linear"))

In [22]:
# Display the Sequential model summary
nn.summary

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 556us/step - loss: 0.8357 - accuracy: 0.6909
Epoch 2/50
804/804 [==============================] - 0s 538us/step - loss: 0.7846 - accuracy: 0.7120
Epoch 3/50
804/804 [==============================] - 0s 538us/step - loss: 0.7577 - accuracy: 0.7166
Epoch 4/50
804/804 [==============================] - 0s 548us/step - loss: 0.7332 - accuracy: 0.7215
Epoch 5/50
804/804 [==============================] - 0s 541us/step - loss: 0.7365 - accuracy: 0.7204
Epoch 6/50
804/804 [==============================] - 0s 556us/step - loss: 0.7230 - accuracy: 0.7241
Epoch 7/50
804/804 [==============================] - 0s 554us/step - loss: 0.6985 - accuracy: 0.7238
Epoch 8/50
804/804 [==============================] - 0s 544us/step - loss: 0.6892 - accuracy: 0.7257
Epoch 9/50
804/804 [==============================] - 0s 547us/step - loss: 0.6716 - accuracy: 0.7240
Epoch 10/50
804/804 [==============================] - 0s 552us/step - loss: 0.6389 - accuracy: 0.7285
Epoch 11/50
804/804 [==============================] - 0s 549us/step - loss: 0.6343 - accuracy: 0.7276
Epoch 12/50
804/804 [==============================] - 0s 555us/step - loss: 0.6329 - accuracy: 0.7259
Epoch 13/50
804/804 [==============================] - 0s 551us/step - loss: 0.6367 - accuracy: 0.7295
Epoch 14/50
804/804 [==============================] - 0s 542us/step - loss: 0.6272 - accuracy: 0.7280
Epoch 15/50
804/804 [==============================] - 0s 541us/step - loss: 0.6507 - accuracy: 0.7107
Epoch 16/50
804/804 [==============================] - 0s 575us/step - loss: 0.6422 - accuracy: 0.7144
Epoch 17/50
804/804 [==============================] - 0s 542us/step - loss: 0.6357 - accuracy: 0.7175
Epoch 18/50
804/804 [==============================] - 0s 547us/step - loss: 0.6347 - accuracy: 0.7177
Epoch 19/50
804/804 [==============================] - 0s 545us/step - loss: 0.6315 - accuracy: 0.7212
Epoch 20/50
804/804 [==============================] - 0s 556us/step - loss: 0.6304 - accuracy: 0.7286
Epoch 21/50
804/804 [==============================] - 0s 560us/step - loss: 0.6268 - accuracy: 0.7312
Epoch 22/50
804/804 [==============================] - 0s 548us/step - loss: 0.6274 - accuracy: 0.7267
Epoch 23/50
804/804 [==============================] - 0s 548us/step - loss: 0.6357 - accuracy: 0.7249
Epoch 24/50
804/804 [==============================] - 0s 547us/step - loss: 0.6227 - accuracy: 0.7282
Epoch 25/50
804/804 [==============================] - 0s 553us/step - loss: 0.6196 - accuracy: 0.7301
Epoch 26/50
804/804 [==============================] - 0s 547us/step - loss: 0.6171 - accuracy: 0.7322
Epoch 27/50
804/804 [==============================] - 0s 550us/step - loss: 0.6153 - accuracy: 0.7310
Epoch 28/50
804/804 [==============================] - 0s 541us/step - loss: 0.6233 - accuracy: 0.7308
Epoch 29/50
804/804 [==============================] - 0s 595us/step - loss: 0.6209 - accuracy: 0.7286
Epoch 30/50
804/804 [==============================] - 0s 548us/step - loss: 0.6092 - accuracy: 0.7323
Epoch 31/50
804/804 [==============================] - 0s 562us/step - loss: 0.6060 - accuracy: 0.7320
Epoch 32/50
804/804 [==============================] - 0s 549us/step - loss: 0.6053 - accuracy: 0.7320
Epoch 33/50
804/804 [==============================] - 0s 547us/step - loss: 0.6099 - accuracy: 0.7318
Epoch 34/50
804/804 [==============================] - 0s 552us/step - loss: 0.6062 - accuracy: 0.7323
Epoch 35/50
804/804 [==============================] - 0s 560us/step - loss: 0.6080 - accuracy: 0.7311
Epoch 36/50
804/804 [==============================] - 0s 559us/step - loss: 0.6079 - accuracy: 0.7328
Epoch 37/50
804/804 [==============================] - 0s 566us/step - loss: 0.6084 - accuracy: 0.7308
Epoch 38/50
804/804 [==============================] - 0s 588us/step - loss: 0.6062 - accuracy: 0.7324
Epoch 39/50
804/804 [==============================] - 0s 552us/step - loss: 0.6073 - accuracy: 0.7319
Epoch 40/50
804/804 [==============================] - 0s 539us/step - loss: 0.6085 - accuracy: 0.7309
Epoch 41/50
804/804 [==============================] - 0s 544us/step - loss: 0.6093 - accuracy: 0.7310
Epoch 42/50
804/804 [==============================] - 0s 546us/step - loss: 0.6054 - accuracy: 0.7311
Epoch 43/50
804/804 [==============================] - 0s 548us/step - loss: 0.5999 - accuracy: 0.7326
Epoch 44/50
804/804 [==============================] - 0s 552us/step - loss: 0.6027 - accuracy: 0.7311
Epoch 45/50
804/804 [==============================] - 0s 550us/step - loss: 0.6085 - accuracy: 0.7230
Epoch 46/50
804/804 [==============================] - 0s 544us/step - loss: 0.6035 - accuracy: 0.7322
Epoch 47/50
804/804 [==============================] - 0s 553us/step - loss: 0.6011 - accuracy: 0.7302
Epoch 48/50
804/804 [==============================] - 0s 576us/step - loss: 0.5997 - accuracy: 0.7295
Epoch 49/50
804/804 [==============================] - 0s 553us/step - loss: 0.5976 - accuracy: 0.7327
Epoch 50/50
804/804 [==============================] - 0s 558us/step - loss: 0.5993 - accuracy: 0.7305

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6088 - accuracy: 0.7272 - 188ms/epoch - 703us/step
Loss: 0.6088343858718872, Accuracy: 0.7272303104400635

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = "./Resources"

# Export your model to a HDF5 file
nn.save(file_path)

INFO:tensorflow:Assets written to: ./Resources\assets

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 16

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

16

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim = number_input_features, activation = "relu"))


# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = "linear"))


# Check the structure of the model
nn_A1.summary

In [32]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 542us/step - loss: 1.7253 - accuracy: 0.6730
Epoch 2/50
804/804 [==============================] - 0s 549us/step - loss: 1.4290 - accuracy: 0.7036
Epoch 3/50
804/804 [==============================] - 0s 568us/step - loss: 1.2739 - accuracy: 0.7002
Epoch 4/50
804/804 [==============================] - 0s 537us/step - loss: 1.2504 - accuracy: 0.7048
Epoch 5/50
804/804 [==============================] - 0s 554us/step - loss: 1.2244 - accuracy: 0.7073
Epoch 6/50
804/804 [==============================] - 0s 550us/step - loss: 1.2161 - accuracy: 0.7049
Epoch 7/50
804/804 [==============================] - 0s 551us/step - loss: 1.2857 - accuracy: 0.6979
Epoch 8/50
804/804 [==============================] - 0s 579us/step - loss: 1.2102 - accuracy: 0.7014
Epoch 9/50
804/804 [==============================] - 0s 541us/step - loss: 1.2111 - accuracy: 0.7082
Epoch 10/50
804/804 [==============================] - 0s 528us/step - loss: 1.2153 - accuracy: 0.7086
Epoch 11/50
804/804 [==============================] - 0s 527us/step - loss: 1.2270 - accuracy: 0.7063
Epoch 12/50
804/804 [==============================] - 0s 537us/step - loss: 1.2107 - accuracy: 0.7058
Epoch 13/50
804/804 [==============================] - 0s 541us/step - loss: 1.2134 - accuracy: 0.7055
Epoch 14/50
804/804 [==============================] - 0s 530us/step - loss: 1.1751 - accuracy: 0.7066
Epoch 15/50
804/804 [==============================] - 0s 528us/step - loss: 1.1479 - accuracy: 0.7099
Epoch 16/50
804/804 [==============================] - 0s 534us/step - loss: 1.1443 - accuracy: 0.7114
Epoch 17/50
804/804 [==============================] - 0s 526us/step - loss: 1.1296 - accuracy: 0.7083
Epoch 18/50
804/804 [==============================] - 0s 531us/step - loss: 1.2003 - accuracy: 0.6931
Epoch 19/50
804/804 [==============================] - 0s 561us/step - loss: 1.1117 - accuracy: 0.7081
Epoch 20/50
804/804 [==============================] - 0s 531us/step - loss: 1.0957 - accuracy: 0.7074
Epoch 21/50
804/804 [==============================] - 0s 540us/step - loss: 1.0917 - accuracy: 0.7059
Epoch 22/50
804/804 [==============================] - 0s 531us/step - loss: 1.1575 - accuracy: 0.7045
Epoch 23/50
804/804 [==============================] - 0s 523us/step - loss: 1.0824 - accuracy: 0.7114
Epoch 24/50
804/804 [==============================] - 0s 524us/step - loss: 1.0657 - accuracy: 0.7123
Epoch 25/50
804/804 [==============================] - 0s 521us/step - loss: 1.0654 - accuracy: 0.7137
Epoch 26/50
804/804 [==============================] - 0s 522us/step - loss: 1.0854 - accuracy: 0.7114
Epoch 27/50
804/804 [==============================] - 0s 522us/step - loss: 1.0889 - accuracy: 0.7081
Epoch 28/50
804/804 [==============================] - 0s 523us/step - loss: 1.0813 - accuracy: 0.7115
Epoch 29/50
804/804 [==============================] - 0s 552us/step - loss: 1.0758 - accuracy: 0.7134
Epoch 30/50
804/804 [==============================] - 0s 554us/step - loss: 1.0840 - accuracy: 0.7052
Epoch 31/50
804/804 [==============================] - 0s 538us/step - loss: 1.0823 - accuracy: 0.7134
Epoch 32/50
804/804 [==============================] - 0s 532us/step - loss: 1.0886 - accuracy: 0.7123
Epoch 33/50
804/804 [==============================] - 0s 541us/step - loss: 1.0833 - accuracy: 0.7116
Epoch 34/50
804/804 [==============================] - 0s 540us/step - loss: 1.0768 - accuracy: 0.7109
Epoch 35/50
804/804 [==============================] - 0s 544us/step - loss: 1.0669 - accuracy: 0.7130
Epoch 36/50
804/804 [==============================] - 0s 532us/step - loss: 1.0556 - accuracy: 0.7137
Epoch 37/50
804/804 [==============================] - 0s 533us/step - loss: 1.0750 - accuracy: 0.7128
Epoch 38/50
804/804 [==============================] - 0s 540us/step - loss: 1.0863 - accuracy: 0.7036
Epoch 39/50
804/804 [==============================] - 0s 531us/step - loss: 1.0733 - accuracy: 0.7104
Epoch 40/50
804/804 [==============================] - 0s 538us/step - loss: 1.0636 - accuracy: 0.7090
Epoch 41/50
804/804 [==============================] - 0s 546us/step - loss: 1.0703 - accuracy: 0.7041
Epoch 42/50
804/804 [==============================] - 0s 552us/step - loss: 1.0567 - accuracy: 0.7128
Epoch 43/50
804/804 [==============================] - 0s 532us/step - loss: 1.0545 - accuracy: 0.7116
Epoch 44/50
804/804 [==============================] - 0s 528us/step - loss: 1.0446 - accuracy: 0.7153
Epoch 45/50
804/804 [==============================] - 0s 533us/step - loss: 1.0421 - accuracy: 0.7148
Epoch 46/50
804/804 [==============================] - 0s 530us/step - loss: 1.0672 - accuracy: 0.7016
Epoch 47/50
804/804 [==============================] - 0s 543us/step - loss: 1.0652 - accuracy: 0.7113
Epoch 48/50
804/804 [==============================] - 0s 530us/step - loss: 1.0690 - accuracy: 0.7039
Epoch 49/50
804/804 [==============================] - 0s 542us/step - loss: 1.0445 - accuracy: 0.7130
Epoch 50/50
804/804 [==============================] - 0s 548us/step - loss: 1.0425 - accuracy: 0.7156

#### Alternative Model 2

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 2

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 32

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

32

In [37]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 64

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

64

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# Adding the First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = "relu"))

#Adding the second hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer2_A2, input_dim = number_input_features, activation = "relu"))

# Adding the Output layer
nn_A2.add(Dense(number_output_neurons_A2, activation = "linear"))

# Check the structure of the model
nn_A2.summary

In [40]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [41]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 568us/step - loss: 0.8678 - accuracy: 0.5230
Epoch 2/50
804/804 [==============================] - 0s 566us/step - loss: 0.7383 - accuracy: 0.5028
Epoch 3/50
804/804 [==============================] - 0s 580us/step - loss: 0.7602 - accuracy: 0.4724
Epoch 4/50
804/804 [==============================] - 0s 568us/step - loss: 0.8924 - accuracy: 0.5054
Epoch 5/50
804/804 [==============================] - 0s 564us/step - loss: 0.7736 - accuracy: 0.4759
Epoch 6/50
804/804 [==============================] - 0s 563us/step - loss: 0.7436 - accuracy: 0.5080
Epoch 7/50
804/804 [==============================] - 0s 577us/step - loss: 0.7389 - accuracy: 0.5016
Epoch 8/50
804/804 [==============================] - 0s 581us/step - loss: 0.7443 - accuracy: 0.5187
Epoch 9/50
804/804 [==============================] - 0s 570us/step - loss: 0.7348 - accuracy: 0.5051
Epoch 10/50
804/804 [==============================] - 0s 574us/step - loss: 0.7284 - accuracy: 0.5104
Epoch 11/50
804/804 [==============================] - 0s 568us/step - loss: 0.9126 - accuracy: 0.4801
Epoch 12/50
804/804 [==============================] - 0s 560us/step - loss: 0.8165 - accuracy: 0.4611
Epoch 13/50
804/804 [==============================] - 0s 571us/step - loss: 0.7482 - accuracy: 0.5074
Epoch 14/50
804/804 [==============================] - 0s 580us/step - loss: 0.6977 - accuracy: 0.5498
Epoch 15/50
804/804 [==============================] - 0s 567us/step - loss: 0.6857 - accuracy: 0.4785
Epoch 16/50
804/804 [==============================] - 0s 569us/step - loss: 0.6913 - accuracy: 0.4560
Epoch 17/50
804/804 [==============================] - 0s 597us/step - loss: 0.6949 - accuracy: 0.4885
Epoch 18/50
804/804 [==============================] - 0s 593us/step - loss: 0.7013 - accuracy: 0.5149
Epoch 19/50
804/804 [==============================] - 1s 628us/step - loss: 0.7435 - accuracy: 0.5055
Epoch 20/50
804/804 [==============================] - 1s 633us/step - loss: 0.7807 - accuracy: 0.5158
Epoch 21/50
804/804 [==============================] - 0s 586us/step - loss: 0.7492 - accuracy: 0.5288
Epoch 22/50
804/804 [==============================] - 0s 617us/step - loss: 0.6883 - accuracy: 0.5479
Epoch 23/50
804/804 [==============================] - 0s 580us/step - loss: 0.6797 - accuracy: 0.5031
Epoch 24/50
804/804 [==============================] - 0s 587us/step - loss: 0.6803 - accuracy: 0.4905
Epoch 25/50
804/804 [==============================] - 0s 575us/step - loss: 0.6638 - accuracy: 0.5054
Epoch 26/50
804/804 [==============================] - 0s 591us/step - loss: 0.6482 - accuracy: 0.4959
Epoch 27/50
804/804 [==============================] - 0s 561us/step - loss: 0.6790 - accuracy: 0.5324
Epoch 28/50
804/804 [==============================] - 0s 573us/step - loss: 0.6827 - accuracy: 0.5106
Epoch 29/50
804/804 [==============================] - 0s 585us/step - loss: 0.6703 - accuracy: 0.5211
Epoch 30/50
804/804 [==============================] - 0s 583us/step - loss: 0.6716 - accuracy: 0.5222
Epoch 31/50
804/804 [==============================] - 0s 582us/step - loss: 0.6593 - accuracy: 0.5206
Epoch 32/50
804/804 [==============================] - 1s 662us/step - loss: 0.6522 - accuracy: 0.5330
Epoch 33/50
804/804 [==============================] - 1s 652us/step - loss: 0.6555 - accuracy: 0.4834
Epoch 34/50
804/804 [==============================] - 1s 658us/step - loss: 0.6503 - accuracy: 0.4521
Epoch 35/50
804/804 [==============================] - 0s 583us/step - loss: 0.6363 - accuracy: 0.5154
Epoch 36/50
804/804 [==============================] - 0s 572us/step - loss: 0.6364 - accuracy: 0.5019
Epoch 37/50
804/804 [==============================] - 0s 566us/step - loss: 0.6455 - accuracy: 0.5922
Epoch 38/50
804/804 [==============================] - 0s 563us/step - loss: 0.6356 - accuracy: 0.5289
Epoch 39/50
804/804 [==============================] - 0s 562us/step - loss: 0.6373 - accuracy: 0.5011
Epoch 40/50
804/804 [==============================] - 0s 575us/step - loss: 0.6513 - accuracy: 0.4897
Epoch 41/50
804/804 [==============================] - 0s 562us/step - loss: 0.6575 - accuracy: 0.4776
Epoch 42/50
804/804 [==============================] - 0s 562us/step - loss: 0.6584 - accuracy: 0.5496
Epoch 43/50
804/804 [==============================] - 0s 565us/step - loss: 0.6564 - accuracy: 0.5329
Epoch 44/50
804/804 [==============================] - 0s 567us/step - loss: 0.6537 - accuracy: 0.5276
Epoch 45/50
804/804 [==============================] - 0s 581us/step - loss: 0.6506 - accuracy: 0.5087
Epoch 46/50
804/804 [==============================] - 0s 586us/step - loss: 0.6479 - accuracy: 0.5232
Epoch 47/50
804/804 [==============================] - 0s 589us/step - loss: 0.6540 - accuracy: 0.5301
Epoch 48/50
804/804 [==============================] - 0s 564us/step - loss: 0.6534 - accuracy: 0.5164
Epoch 49/50
804/804 [==============================] - 0s 580us/step - loss: 0.6577 - accuracy: 0.4909
Epoch 50/50
804/804 [==============================] - 0s 586us/step - loss: 0.6442 - accuracy: 0.5295

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6088 - accuracy: 0.7272 - 114ms/epoch - 425us/step
Loss: 0.6088343858718872, Accuracy: 0.7272303104400635

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 1.0764 - accuracy: 0.7145 - 161ms/epoch - 600us/step
Loss: 1.076378583908081, Accuracy: 0.7145189642906189

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6379 - accuracy: 0.5336 - 168ms/epoch - 628us/step
Loss: 0.6378515362739563, Accuracy: 0.5336443185806274

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path = "./Resources"

# Export your model to a HDF5 file
nn_A1.save(file_path)

INFO:tensorflow:Assets written to: ./Resources\assets

In [46]:
# Set the file path for the second alternative model
file_path = "./Resources"

# Export your model to a HDF5 file
nn_A2.save(file_path)

INFO:tensorflow:Assets written to: ./Resources\assets